 
 <header>
        <div class="banner"></div>
        <nav class="navbar">
            <a class="navrbar-brand" href="">TENSAI RAMEN</a>
            <a class="navbar-item" href="">LIVRAISON</a>
            <a class="navbar-item" href="">QUI SOMME NOUS?</a>
        </nav>
    </header>

    <div class="tabs">
        <div class="title">
            <ul class="labels">
                    <li class="pres-lab">Présentation</li>
                    <li class="menu-lab">Menu</li>
                    <li class="info-lab">Info</li>
            </ul>
        </div>

        <div class="content1">
            <div class="pres">
                <h1>Tensai Ramen</h1>
                <p>Text1 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu auctor enim, non tempus dui. Sed sit amet fermentum ante. Nulla vehicula turpis ac enim pretium viverra vitae ut risus. Duis maximus velit facilisis, laoreet lacus sit amet, feugiat leo. Maecenas ac feugiat risus, ac molestie urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean sit amet massa quis dolor accumsan laoreet ac non eros. Suspendisse ultricies augue quis pretium blandit. Vivamus consectetur ligula eget eros elementum commodo. Maecenas pulvinar quis nisi at aliquam. Aliquam aliquam erat ac dui dignissim, ut dignissim mauris viverra. Nunc vulputate blandit placerat. Proin faucibus, ipsum sit amet ullamcorper pharetra, felis eros viverra nisl, sed vestibulum eros ligula et tellus. Mauris commodo euismod est a consequat. Cras dignissim purus turpis, quis condimentum dolor ultrices nec. Pellentesque hendrerit, massa dignissim vulputate commodo, lorem purus scelerisque velit, sit amet volutpat risus mi et elit. </p>
            </div>
            <div class="menu">
                    <h1>Menu </h1>
                    <p>Text2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu auctor enim, non tempus dui. Sed sit amet fermentum ante. Nulla vehicula turpis ac enim pretium viverra vitae ut risus. Duis maximus velit facilisis, laoreet lacus sit amet, feugiat leo. Maecenas ac feugiat risus, ac molestie urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean sit amet massa quis dolor accumsan laoreet ac non eros. Suspendisse ultricies augue quis pretium blandit. Vivamus consectetur ligula eget eros elementum commodo. Maecenas pulvinar quis nisi at aliquam. Aliquam aliquam erat ac dui dignissim, ut dignissim mauris viverra. Nunc vulputate blandit placerat. Proin faucibus, ipsum sit amet ullamcorper pharetra, felis eros viverra nisl, sed vestibulum eros ligula et tellus. Mauris commodo euismod est a consequat. Cras dignissim purus turpis, quis condimentum dolor ultrices nec. Pellentesque hendrerit, massa dignissim vulputate commodo, lorem purus scelerisque velit, sit amet volutpat risus mi et elit. </p>
                </div>
             <div class="info">
                <h1>Info Pratique</h1>
                <p>Text3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu auctor enim, non tempus dui. Sed sit amet fermentum ante. Nulla vehicula turpis ac enim pretium viverra vitae ut risus. Duis maximus velit facilisis, laoreet lacus sit amet, feugiat leo. Maecenas ac feugiat risus, ac molestie urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean sit amet massa quis dolor accumsan laoreet ac non eros. Suspendisse ultricies augue quis pretium blandit. Vivamus consectetur ligula eget eros elementum commodo. Maecenas pulvinar quis nisi at aliquam. Aliquam aliquam erat ac dui dignissim, ut dignissim mauris viverra. Nunc vulputate blandit placerat. Proin faucibus, ipsum sit amet ullamcorper pharetra, felis eros viverra nisl, sed vestibulum eros ligula et tellus. Mauris commodo euismod est a consequat. Cras dignissim purus turpis, quis condimentum dolor ultrices nec. Pellentesque hendrerit, massa dignissim vulputate commodo, lorem purus scelerisque velit, sit amet volutpat risus mi et elit. </p>
            </div>   
            


        </div>
    </div>